# Extension > Apitte
#
extensions:
	middlewares: Contributte\Middlewares\DI\MiddlewaresExtension
	resource: Contributte\DI\Extension\ResourceExtension
	api: Apitte\Core\DI\ApiExtension

resource:
	resources:
		App\Module\:
			paths: [%appDir%/module]

api:
	debug: false
	plugins:
		Apitte\Core\DI\Plugin\CoreSchemaPlugin:
		Apitte\Core\DI\Plugin\CoreServicesPlugin:
		Apitte\Debug\DI\DebugPlugin:
		Apitte\Middlewares\DI\MiddlewaresPlugin:
			tracy: false
			autobasepath: true
		Apitte\OpenApi\DI\OpenApiPlugin:

services:
	middleware.tryCatch:
		factory: Contributte\Middlewares\TryCatchMiddleware
		tags: [middleware: [priority: 1]]
		setup:
			- setDebugMode(%debugMode%)
			- setCatchExceptions(%productionMode%) # used in debug only
			- setLogger(@Psr\Log\LoggerInterface, Psr\Log\LogLevel::ERROR)
	middlewares.logging:
		factory: Contributte\Middlewares\LoggingMiddleware
		arguments: [@monolog.logger.default]
		tags: [middleware: [priority: 100]]
	middleware.methodOverride:
		factory: Contributte\Middlewares\MethodOverrideMiddleware
		tags: [middleware: [priority: 150]]
	middleware.cors:
		factory: App\Model\Api\Middleware\CORSMiddleware
		tags: [middleware: [priority: 200]]
	middleware.authenticator:
		factory: App\Model\Api\Middleware\AuthenticationMiddleware(
			App\Model\Api\Security\TokenAuthenticator()
		)
		tags: [middleware: [priority: 250]]

	api.core.dispatcher: App\Model\Api\Dispatcher\JsonDispatcher

	- App\Module\V1\StaticController(%static.text%)
