# Extension > Nettrine
#
extensions:
	# Dbal
	nettrine.dbal: Nettrine\DBAL\DI\DbalExtension

	# Orm
	nettrine.orm: Nettrine\ORM\DI\OrmExtension

	nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension
	nettrine.fixtures: Nettrine\Fixtures\DI\FixturesExtension
	nettrine.cache: Nettrine\Cache\DI\CacheExtension

nettrine.dbal:
	debug:
		panel: %debugMode%
	connections:
		default:
			driver: %database.driver%
			host: %database.host%
			user: %database.user%
			password: %database.password%
			dbname: %database.dbname%
			port: %database.port%
			serverVersion: %database.serverVersion%

nettrine.orm:
	managers:
		default:
			connection: default
			entityManagerDecoratorClass: App\Model\Database\EntityManagerDecorator
			autoGenerateProxyClasses: %debugMode%
			mapping:
				App\Domain:
					type: attributes
					directories: [%appDir%/Domain]
					namespace: App\Domain

nettrine.migrations:
	connection: default
	manager: default
	directories:
		Database\Migrations: %rootDir%/db/Migrations

nettrine.fixtures:
	paths:
		- %rootDir%/db/Fixtures

decorator:
	Doctrine\Common\EventSubscriber:
		tags: [nettrine.subscriber]
