# Test Config
includes:
	- base.neon


# Nettrine ===================
nettrine.orm:
	managers:
		default:
			autoGenerateProxyClasses: ::constant(Doctrine\ORM\Proxy\ProxyFactory::AUTOGENERATE_FILE_NOT_EXISTS)

# Parameters =================
parameters:
	database:
		driver: pdo_sqlite
		host: test
		dbname: test
		user: test
		password: test
