# Host Config
parameters:

	# Database (postgres)
	database:
		driver: pdo_pgsql
		host: 0.0.0.0
		port: 5432
		dbname: contributte
		user: contributte
		password: contributte
		serverVersion: 13

	# Database (mariadb)
	# database:
	# 	driver: pdo_mysql
	# 	host: 0.0.0.0
	# 	port: 3306
	# 	dbname: contributte
	# 	user: contributte
	# 	password: contributte
	#	serverVersion: null
