name: "Nette Tester"

on:
  pull_request:
  workflow_dispatch:

  push:
    branches: [ "*" ]

  schedule:
    - cron: "0 8 * * 1"

jobs:
  test83:
    name: "Nette Tester"
    uses: contributte/.github/.github/workflows/nette-tester.yml@v1
    with:
      php: "8.3"
      make: "init tests"

  test82:
    name: "Nette Tester"
    uses: contributte/.github/.github/workflows/nette-tester.yml@v1
    with:
      php: "8.2"
      make: "init tests"
