name: "Nette Tester"

on:
  pull_request:
  workflow_dispatch:

  push:
    branches: [ "*" ]

  schedule:
    - cron: "0 8 * * 1"

jobs:
  php85:
    name: "Nette Tester"
    uses: contributte/.github/.github/workflows/nette-tester.yml@v1
    with:
      php: "8.5"

  test84:
    name: "Nette Tester"
    uses: contributte/.github/.github/workflows/nette-tester.yml@v1
    with:
      php: "8.4"
      make: "init tests"
